
#areaClick {
    height: 40%;
    cursor: pointer;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

#nivel {
    margin-top: 20px;
    font-size: 18px;
}

.button_slide {
  width: 100%;
  color: #FFF;
  border: 2px solid #3498db;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3498db;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #3498db;
}

span {
  width: 60%;
  color: #FFF;
  /*border: 2px solid rgb(216, 2, 134);*/
  border-radius: 0px;
  /*padding: 18px 36px;*/
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3498db;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.guardar {
color: white;
background-color: skyblue;
border-radius: 15px;
width: 20%;
/*height: 3%;
position: fixed;
top: 90%;*/
}

#puntuacion {
  width: 100%;
  /*position: fixed;
  top: 84%;*/
}

.logros {
  border: 3px solid #04548a;
  padding: 30px;
  background-color: #3498db;
}

.contenedor {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  flex-direction: column;
  padding: 10%;
  
}

table{
  width: 50%;
}

table th {
  background-color: 
  rgb(120, 196, 219); 
}

table tr:nth-child(odd) {
  background-color:#3498db;
}

table tr:nth-child(even) {
  background-color:#04548a;
}

#cursorImg:hover {
  cursor: pointer;
}

/*#cursorImg{
  position: fixed;
  top: 20%;
}*/

.infoMejoras {
  width: 100%;
  color: #FFF;
  border: 2px solid #3498db;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3498db;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}